VITE_SUPABASE_URL=https://drcjnsjtsnguqxjfzznl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRyY2puc2p0c25ndXF4amZ6em5sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5OTUxNDIsImV4cCI6MjA5MzU3MTE0Mn0.CtwoPpWRS8zNPc_h4ngrUj2PxO48Ec3hbyaUTW83KR4
